<ion-content class="denuncia-background" [fullscreen]="true">
  <div class="background-image-layer"></div>

  <div class="content-wrapper">
    <div class="header-container">
      <h1 class="titulo-pode-falar">Pode Falar</h1>
      <div class="icon-container">
        <ion-button fill="clear" class="botao-camuflagem" (click)="ativarCamuflagem()">
  <ion-icon name="eye-off-outline"></ion-icon>
</ion-button>
      </div>
    </div>

    <div class="buttons-centered-container">
      <div class="gradient-button" (click)="avisodedenuncia()">
        Preciso de ajuda urgente
      </div>

      <div class="gradient-button" (click)="goToDenunciaPage()">
        Denuncie por mensagem
      </div>
    </div>
  </div>
</ion-content>
